<form novalidate #myForm="ngForm" (ngSubmit)="onSubmit()">
    <h1>Purchase form</h1>
    <hr>
  
    <div>
      <label for="name">
        Name
      </label>
      <input id="name" type="text" name="name" ngModel required #nameControl="ngModel" minlength="5">
      <span *ngIf="nameControl.touched">
        <span style="color: brown" *ngIf="nameControl.invalid">Name must contain more than 5 characters!</span>
        <span style="color: green" *ngIf="nameControl.valid">Success</span>
      </span>
    </div>
  
    <div>
      <label for="phone">
        Phone number
      </label>
      <input id="phone" type="phone" name="phone" ngModel required #phoneControl="ngModel" minlength="10">
      <span *ngIf="phoneControl.touched">
        <span style="color: brown" *ngIf="phoneControl.invalid">It must be format 0123456789</span>
        <span style="color: green" *ngIf="phoneControl.valid">Success</span>
      </span>
    </div>

    <div>
      <label for="address">
        Address
      </label>
      <input id="address" type="text"  name="address" ngModel required #addressControl="ngModel" minlength="5">
      <span *ngIf="addressControl.touched">
        <span style="color: brown" *ngIf="addressControl.invalid">Ex.: 1, StreetName nr</span>
        <span style="color: green" *ngIf="addressControl.valid">Success</span>
      </span>
    </div>

    <div>
      <label for="email">
        E-mail
      </label>
      <input id="email" type="email"  name="email" ngModel required #emailControl="ngModel" email>
      <span *ngIf="emailControl.touched">
        <span style="color: brown" *ngIf="emailControl.invalid">Ex.: yourname@example.com</span>
        <span style="color: green" *ngIf="emailControl.valid">Success</span>
      </span>
    </div>
    
    <button mat-raised-button color="primary" type="submit" [disabled]="myForm.invalid">Purchase</button>
</form>


<div *ngIf="submitted && myForm.valid">
  <app-subscription-menu></app-subscription-menu>
</div>