<form novalidate #myForm="ngForm" (ngSubmit)="onSubmit()">
    <h1>Template-Driven Form</h1>
    <h3 *ngIf="purchased">Thank you!)</h3>
    <hr>
  
    <div>
      <label for="name">
        Name
      </label>
      <input id="name" type="text" name="name" ngModel required #nameControl="ngModel" minlength="5">
      <span *ngIf="nameControl.touched">
        <span *ngIf="nameControl.invalid">Must contain more than 5 characters!</span>
        <span *ngIf="nameControl.valid">Success</span>
      </span>
    </div>
  
    <div>
      <label for="phone">
        Phone number
      </label>
      <input id="phone" type="phone" name="phone" ngModel required #phoneControl="ngModel" minlength="10">
      <span *ngIf="phoneControl.touched">
        <span *ngIf="phoneControl.invalid">It must be format 0123456789</span>
        <span *ngIf="phoneControl.valid">Success</span>
      </span>
    </div>

    <div>
      <label for="address">
        Address
      </label>
      <input id="address" type="text"  name="address" ngModel required #addressControl="ngModel" minlength="5">
      <span *ngIf="addressControl.touched">
        <span *ngIf="addressControl.invalid">Ex.: 1, StreetName nr</span>
        <span *ngIf="addressControl.valid">Success</span>
      </span>
    </div>

    <div>
      <label for="email">
        E-mail
      </label>
      <input id="email" type="email"  name="email" ngModel required #emailControl="ngModel" email>
      <span *ngIf="emailControl.touched">
        <span *ngIf="emailControl.invalid">Ex.: yourname@example.com</span>
        <span *ngIf="emailControl.valid">Success</span>
      </span>
    </div>

    <div>
      <label for="password">
        Create password
      </label>
      <input id="password" type="password"  name="password" ngModel required 
          #passwordControl="ngModel" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
      <span *ngIf="passwordControl.touched">
        <span *ngIf="passwordControl.invalid">It must have at least one integer, one capital letter</span>
        <span *ngIf="passwordControl.valid">Success</span>
      </span>
    </div>
    
    <button mat-raised-button color="primary" type="submit" [disabled]="myForm.invalid">Purchase</button>
</form>

