.heroe-info {
    padding: 20px 30px;
    background-color: teal;
    color: white;
    position: fixed;
    top: 50px;
    left: 500px;
}
.heroe-info h2, h5, div {
    margin: 50px 0;
}
.heroe-info span {
    background-color: black;
    padding: 10px;
}