.wrapper {
    display: flex;
    justify-content: space-around;
    background-image: url("../assets/sunset.jpg");
    background-size: cover;
    height: 100vh;
}


@media (max-width: 660px) {
    .wrapper {
        flex-direction: column;
        height: 200vh;
    }
}