
    <mat-card>
        <mat-card-title *ngIf="subscribed">Thank You!</mat-card-title>
        <mat-card-header *ngIf="!subscribed">
            <mat-card-title>Help Us become better!</mat-card-title>
            <mat-card-subtitle>Please, fill following fields to get news about promo and new products</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="form" novalidate  [formGroup]="subForm" (ngSubmit)="onSubscribe()">
                <div class="fullName" formGroupName="fullName">
                    <input type="text" placeholder="First Name" formControlName="firstName">
                    <input type="text" placeholder="Last Name" formControlName="lastName">
                </div>
                <div formArrayName="emails">
                    <div *ngFor="let control of emailsFormArray.controls; let i = index">
                        <input type="email" [formControlName]="i">
                        <button mat-raised-button color="warn" (click)="removeControl(i)">Delete Email</button>
                    </div>
                    <button mat-raised-button color="primary" (click)="addControl()">Add Email</button>
                </div>
                <button 
                    mat-raised-button 
                    color="accent" 
                    [disabled]="subForm.invalid" 
                    type="submit"
                    (click)="onSubscribe()">Subscribe</button>
            </div>
        </mat-card-content>
    </mat-card>

