a {
    position: relative;
}

.counter {
    position: absolute;
    display: block;
    content: "";
    top: 20px;
    left: 100px;
    border-radius: 50%;
    background-color: orangered;
    padding: 10px;
    color: white;
    font-size: 12px;
    line-height: 0;
}